body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("/static/images/sm.jpg") no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    /* Ensure padding and border are included in the width */
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.form-group input,
.form-group button {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    /* Ensure padding and border are included in the width */
}

.form-group input {
    background-color: #f9f9f9;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
    background-color: #ffffff;
}

.form-group button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.form-group button:hover {
    background-color: #0056b3;
}

.error {
    color: #ff0000;
    font-size: 12px;
}